<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		div{
			border:1px solid #333;
			height:150px;
			width:800px;
			margin:0 auto;
			padding-top:130px;
			text-align: center;
		}
	</style>
</head>
<body>
	<div>
		<form action="/check" method="get">
			输入昵称：<input type="text" id="username" name="username"/>
		<input type="submit" value="进入聊天室">
		</form>
	</div>
</body>
</html>